[Appearance]
ColorScheme={{ kde_konsole.profile.color_scheme }}
Font={{ kde_konsole.profile.font }}

[General]
Command={{ kde_konsole.profile.command }}
Name={{ kde_konsole.profile.name }}
Parent=FALLBACK/

[Scrolling]
HistorySize={{ kde_konsole.profile.scrollback_lines }}
